{% extends 'base.html' %}
{% block title %}Пост{% endblock %}
{% block content %}
    <div class="m-3">
        <h4>{{ post.title }}</h4>
        <p>Автор: {{ post.author }}</p>
        <p>Дата: {{ post.date }}</p>
    <p>{{ post.text }}</p>
        {% if post.author == self.request.user %}
            <a class="btn btn-dark" href="{% url 'webapp:post_delete' post.pk %}">Удалить пост</a>
            <a class="btn btn-dark" href="{% url 'webapp:post_update' post.pk %}">Изменить пост</a>
        {% endif %}
    </div>
{% endblock %}